<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/foundation.min.css" />
    <script src="../js/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/app.js"></script>
</head>
<body>
    <h1>logo</h1>
    <p>Connpass Event Reminder へようこそ!!</p>
    <p>Connpassで使用しているニックネームを用いて<br>
    参加しているイベントのリマインドができるサービスです。</p><br>

    <!-- <form action="/signin" method="get">
        ニックネームを入力:<input type="text" name="nickname" id=""><br>
        <button type="submit">ログインする</button>
    </form> -->
    <a href="/signin">{{aaa}}</a>
</body>
</html>